@media screen and (max-width:767px) {
  button.btn-search {
    height: 28px;
    width: 28px;
    background: #00BBAB;
    border-radius: 50%;
    /* padding: 5px 6px; */
    margin-right: 15px;
    border: none;
  }
  button.btn-search img {
    margin-bottom: 0;
  }
  .sidebar-header .box-header-logo {
    box-shadow: none;
  }
  .box-wrapper {
    display: block;
    justify-content: initial;
  }
  .header-container {
    background: #fff;
    /* box-shadow: 0px 2px 4px rgb(0 0 0 / 25%); */
    width: 100%;
    height: 100px;
  }
  .header-container-inner {
    background-color: #fff;
    display: block;
    flex-wrap: unset;
  }
  .box-header-logo {
    background-color: transparent;
  }
  .box-header-logo .box-search .form-control {
    background: #fff;
    border: 1px solid #E6E6E6;
  }
  .box-header-logo .box-search .btn-search {
    z-index: 9;
  }
  .box-header-logo .box-language {
    right: 15px;
    top: 35px;
    margin-top: 18px;
  }
  /* global class start */
  .font-h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .page-container-outer,
  .box-header-logo,
  .modal-flexbox .page-container-outer {
    /* max-width: 375px; */
    min-width: auto;
  }
  /* global class end */
  .box-header-logo {
    /* justify-content: space-between; */
    height: 100%;
    padding: 40px 15px 15px 15px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    /* margin-bottom: 15px; */
  }
  .box-sidebar-toggle {
    display: block;
    margin: 8px 0;
    position: absolute;
    left: 8px;
  }
  .box-header-logo .box-logo {
    float: none;
    margin: 0 auto;
    width: 50px;
    text-align: center;
  }
  .box-header-logo .box-logo img {
    height: 46px;
  }
  /* .box-header-logo .box-search,
  .box-header-logo .box-language, */
  .box-header-menu {
    display: none;
  }
  .collapse#box-search,
  .collapsing#box-search {
    position: absolute;
    z-index: 9;
    width: 100%;
    padding: 10px;
    background: #fff;
    margin-top: -3px;
  }
  .collapsing#box-search a,
  .collapse#box-search a {
    color: #00bbab;
    background-color: transparent;
  }
  .collapsing#box-search button.btn-close-search,
  .collapse#box-search button.btn-close-search {
    background-color: transparent;
    border: none;
  }
  #box-search button.btn-search {
    border-radius: 50%;
    background: #00bbab;
    padding: 0;
    margin-top: 5px;
  }
  #box-search .form-control {
    border: none;
  }
  /* style sidebar start */
  .sidebar-header .box-language,
  .sidebar-header .box-search {
    display: block;
  }
  /* style sidebar finish */
  /* homepage style start */
  .box-main-text {
    width: 100%;
    padding: 24px;
  }
  .banner-home .box-main-text {
    width: 70%;
    margin: 6px 0;
    padding: 8px 0;
  }
  .main-banner-text h6 {
    font-size: 12px;
    line-height: 14px;
  }
  .main-banner-text h1 {
    font-size: 27px;
    line-height: 36px;
    margin: 10px 0 15px;
  }
  .main-banner-text p {
    font-size: 12px;
    line-height: 17px;
    margin: 0 0 50px;
    width: 100%;
  }
  .homepage .main-banner-text p {
    font-size: 11px;
    margin: 0 0 7.5px;
  }
  .main-banner-text .box-btn-shadow {
    padding: 5px;
  }
  .homepage .main-banner-text .box-btn-shadow {
    margin: 7.5px 0 0;
  }
  .homepage .main-banner a {
    width: 100%;
  }
  .homepage-slide .slick-dots {
    bottom: 10px;
  }
  .main-banner-text .btn-info {
    padding: 10px 16px;
    font-size: 11px;
    line-height: 10px;
  }
  .about-container {
    padding: 35px 0 0 0;
  }
  .about-image-text-inner-home {
    background: #00BBAB;
    border-radius: 0px 10px 10px 10px;
    padding: 0;
  }
  .about-image-text h4.title_about,
  .about-image-text p {
    color: #fff;
  }
  .about-image-text h4.title_about {
    font-size: 14px;
    line-height: 17px;
  }
  .about-image-text p {
    font-size: 12px;
    line-height: 14px;
  }
  .box-about-image {
    padding: 15px 0;
    float: unset;
  }
  .box-about-title h2 {
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0 0 0;
    /* text-align: left; */
  }
  .box-about-title p {
    font-size: 16px;
    line-height: 22px;
  }
  .about-image-inner {
    display: block;
    flex-wrap: unset;
    float: unset;
  }
  .about-image-text-inner {
    display: block;
    /* vertical-align: auto; */
  }
  .about-image-text-outer {
    position: relative;
    width: 100%;
    display: unset;
    margin: 12px 0 0 0;
  }
  .about-image-text-outer-home {
    position: relative;
    width: 100%;
    display: unset;
    margin: 12px 0 0 0;
  }
  .about-img, .about-img-left, .about-img-right {
    width: 100%;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
    margin-bottom: 10px;
  }
  .about-img img, .about-img-left img, .about-img-right img {
    width: 100%;
    height: 215px;
    /* border-radius: 20px; */
  }
  .about-img-home {
    width: 100%;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
    margin-bottom: 10px;
  }
  .about-img-home img {
    width: 100%;
    height: 215px;
    /* border-radius: 20px; */
  }
  .about-image-text {
    border-radius: 0px 20px 20px 20px;
    padding: 24px 16px;
  }
  .box-helpful h2 {
    width: 70%;
    text-align: center;
  }
  .box-helpful {
    justify-content: center;
  }
  .helpful-content-desc {
    height: auto;
    padding: 10px 0;
  }
  .helpful-content-desc img {
    height: 231px;
    border-radius: 0;
    margin: 7px 0;
  }
  .helpful-content-desc p {
    font-size: 18px;
    line-height: 24px;
    margin: 7px 0;
    padding: 0 24px;
  }
  .helpful-content-desc h6 {
    position: unset;
    font-size: 14px;
    line-height: 19px;
    margin: 7px 0;
    padding: 0 24px;
  }
  .footer-container .global-content-inner {
    position: relative;
    padding: 28px 0 50px 0;
  }
  .column-footer-logo {
    width: 100%;
    height: auto;
    margin: 0px 0 33px;
    text-align: center;
  }
  .column-footer-logo p {
    display: none;
  }
  .column-footer-menu,
  .column-footer-care,
  .column-media {
    margin: 20px 0;
  }
  .column-media {
    padding-left: 20px;
    padding-right: 20px;
  }
  .column-footer-care .care-copy {
    display: block;
    width: 100%;
    margin: 40px 0 0;
  }
  .column-footer-menu ul li {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 19px;
    font-family: 'opensans-regular';
  }
  .column-footer-care p.email_cs {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
    font-family: 'opensans-regular';
  }
  .column-footer-care p {
    font-family: 'opensans-regular';
    width: 100%;
    font-size: 14px;
    line-height: 19px;
  }
  .footer-container h6 {
    margin: 0 0 26px;
    font-size: 18px;
    line-height: 22px;
  }
  .column-media .media-icon {
    margin-bottom: 10px;
  }
  .column-media .media-icon img {
    margin-right: 15px;
  }
  .media-icon .media-icon-name {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
    font-family: 'opensans-regular';
  }
  /* homepage style start */
  /* comfort product start */
  .product-master .box-main-text {
    padding: 24px;
  }
  .product-master .main-banner-text h1 {
    font-size: 27px;
    line-height: 30px;
    margin: 10px 0 15px;
  }
  .product-master .main-banner-text p {
    width: 100%;
    font-size: 12px;
    line-height: 17px;
  }
  .main-banner-text strong,
  .main-banner-text b {
    font-size: 12px;
    line-height: 17px;
  }
  .product-comfort .box-products {
    margin: 45px 0 -5px 0;
    padding: 0 24px;
  }
  .recipe-for .box-products,
  .moms-testimonial .box-products {
    padding: 0;
    margin: 12px 0 0;
  }
  .box-products-inner {
    width: 103.6%;
    margin: 0 0 0 -1.8%;
  }
  .product-card {
    width: 50%;
    padding: 5.5px;
  }
  .product-card-inner {
    height: 264px;
    padding: 12px;
    border-radius: 10px;
  }
  .product-card-img img {
    height: 134px;
  }
  .product-card-category h6 {
    font-size: 10px;
    line-height: 11px;
  }
  .product-card-category h4 {
    height: 38px;
    font-size: 16px;
    line-height: 17px;
  }
  .recipe-for .product-card-category h4 {
    font-size: 16px;
    line-height: 21px;
  }
  .view-details a {
    font-size: 12px;
    line-height: 13px;
  }
  .show-more-inner h5 {
    font-size: 16px;
    line-height: 21px;
  }
  /* detail product */
  .box-image-product,
  .box-description-product {
    width: 100%;
    padding: 0 24px;
  }
  .box-products-detail .box-image-view {
    padding: 0 0 10px 0;
    max-height: 330px;
  }
  .box-image-view img {
    height: 325px;
  }
  .img-preview {
    height: 77px;
  }
  .img-preview img {
    height: 75px;
  }
  .box-products-detail h5 {
    font-size: 13px;
    line-height: 14px;
    margin: 18px 0 0;
  }
  .box-products-detail h3 {
    font-size: 31px;
    line-height: 32px;
  }
  .detail-description p,
  .detail-description ul li,
  .detail-description ol li,
  .detail-description dl li {
    font-size: 13px;
    line-height: 21px;
    margin: 10px 0;
  }
  .box-products-detail h4,
  .box-video-product {
    padding: 0 24px;
  }
  .box-video-product iframe {
    height: 185px;
  }
  .box-products-detail .box-title,
  .box-question {
    padding: 0 24px;
  }
  .box-question .list-question-title h4 {
    padding: 0;
  }
  .box-question-title h4,
  .box-products-detail .box-description p {
    font-size: 13px;
    line-height: 17px;
  }
  .box-products-detail .box-description p {
    margin: 7px 0;
  }
  .benefit-desktop {
    display: none;
  }
  .benefit-tablet {
    display: block;
  }
  .product-description,
  .benefit-tablet {
    margin: 0 0 15px 0;
  }
  /* comfort product finish */
  /* Recipe for mommy start */
  .recipe-for .product-card {
    width: 100%;
    padding: 12px 0;
  }
  .product-card-category {
    width: 100%;
    padding: 0 11px;
  }
  .modal-product-card .embed-responsive-item {
    min-width: 375px;
  }
  .content-view-description p {
    font-size: 13px;
    line-height: 20px;
  }
  .recipe-for .product-card-img img {
    height: auto;
    border-radius: 0;
  }
  /* Recipe for mommy start */
 
  /* style parent's club start */
  .parents-club-container {
    margin: 0;
  }
  .box-form {
    padding: 14px;
    margin: 24px 0 0;
  }
  .box-club-content.points,
  .box-club-content {
    width: 100%;
    padding: 0 14px;
  }
  .box-club-content p {
    font-size: 16px;
    line-height: 17px;
    margin: 14px 0 9px;
  }
  .box-club-points {
    padding: 11px;
  }
  .box-club-points p {
    font-size: 16px;
    line-height: 19px;
  }
  .box-form h3 {
    font-size: 30px;
    line-height: 31px;
  }
  .form .input-group span {
    font-size: 16px;
  }
  .form .box-regional {
    width: 100%;
    margin: 7px 0;
  }
  .form .regional {
    padding: 0;
    width: 100%;
  }
  .form .input-group .span-label {
    width: 75%;
  }
  .form .input-group .pos-code {
    margin: 0px 0 0 0;
  }
  .form .input-group .form-control {
    font-size: 16px;
    line-height: 17px;
  }
  .form .custom-control-label {
    font-size: 16px;
    line-height: 22px;
  }
  .form .btn-info {
    font-size: 16px;
    line-height: 17px;
  }
  /* style parent's club start */
  /* contact us style start */
  .points h6 {
    font-size: 16px;
    line-height: 21px;
  }
  .contact-us .box-club-content p {
    font-size: 16px;
    line-height: 21px;
  }
  .contact-us .group-address {
    margin: 9px 0;
  }
  /* contact us style start */
  /* article style start */
  .article-detail .box-article-container .link-back {
    font-size: 16px;
  }
  .article-detail .box-article-container {
    padding: 0 24px;
  }
  .article-detail .box-article-container a {
    font-size: 13px;
    line-height: 17px;
  }
  .article-detail .box-article-container h3 {
    font-size: 27px;
    line-height: 36px;
  }
  .article-detail .box-article-container p {
    font-size: 17px;
    line-height: 22px;
    margin: 10px 0;
  }
  /* article style start */
  /* search result start */
  .box-result-title {
    margin: 0px 0 18px 0;
    width: 100%;
  }
  .box-result-title h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .box-result-title h6 {
    font-size: 14px;
    line-height: 17px;
    padding: 8px 25px;
  }
  .box-search-results .box-article {
    padding: 25px 0;
  }
  .box-search-results .box-article-inner {
    display: unset;
  }
  .box-search-results .article-text {
    width: 100%;
  }
  /* search result start */
  /* modal popup start */
  .modal-helpful .modal-body {
    float: left;
    width: 100%;
    padding: 0;
  }
  .modal-helpful .box-content-view-inner {
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .modal-helpful .content-view-image {
    width: 100%;
    max-width: 375px;
  }
  .modal-helpful .content-view-image iframe,
  .content-view-image iframe,
  .content-view-image img {
    width: 375px;
    height: 212px;
  }
  .modal-helpful .content-view-description,
  .content-view-description {
    width: 100%;
    padding: 14px 21px;
    min-width: auto;
    height: 100%;
    max-height: 330px;
  }
  .modal-helpful .modal-header .close {
    top: -7%;
  }
  .modal-helpful .modal-header {
    float: left;
    width: 100%;
    height: auto;
    padding: 0 5px;
    display: flex;
    justify-content: flex-end;
  }
  .modal-helpful .modal-dialog-centered {
    min-height: 100vh;
    height: calc(100%);
  }
  .modal-helpful .modal-content {
    position: fixed;
  }
  .homepage .modal-helpful .modal-header .close {
    top: 0;
    position: relative;
    float: left;
    padding: 10px;
    margin: 0;
    line-height: 20px;
    right: 0;
  }
  .modal-helpful .modal-header .close img {
    width: 24px;
    margin: -4px 0 0 0;
  }
  /* modal popup start */
  
  /* slider */
  .main-banner .main-banner-img {
    min-height: 190px;
    height: 30vh;
  }
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .wrapper-desc-slider {
    padding: 8px;
    margin-bottom: 10px;
  }
  /* end slider */

  /* blog */
  .box-article-wrapper {
    padding: 20px 0;
  }
  .box-article-inner {
    padding-bottom: 35px;
  }
  .box-article-inner h2 {
    /* text-align: left; */
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
    padding: 0 15px;
  }
  .article-text p {
    font-size: 12px;
    line-height: 16px;
    height: 80px;
  }
  .box-article {
    padding: 15px 15px 10px 15px;
  }
  .box-article:nth-child(even) {
    padding-left: 5px;
  }
  .box-article:nth-child(odd) {
    padding-right: 5px;
  }
  .article-image {
    padding: 0;
    margin: 0 0 14px;
  }
  .article-image,
  .article-text,
  .article-image img,
  .box-helpful-content {
    width: 100%;
    min-height: auto;
  }
  .article-image img {
    height: 150px;
    filter: none;
    padding-bottom: 0;
  }
  .article-text {
    height: auto;
  }
  .article-text h5 {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 5px;
  }
  .article-readmore {
    position: relative;
    justify-content: space-between;
    padding-top: 10px;
  }
  .article-readmore .btn-light {
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .article-share p {
    font-size: 14px;
    line-height: 19px;
  }
  .more-articles {
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 17px;
    color: #00BBAB;
    background-color: #fff;
  }
  .more-articles p {
    font-size: 16px;
  }
  .share-icon {
    padding-left: 10px;
  }
  /* end blog */

  /* ingredient */
  #ingredient .header-text {
    padding: 20px 0;
  }
  #ingredient .header-text h1 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  #ingredient .header-text p {
    font-size: 12px;
    line-height: 16px;
  }
  .box-ingredient {
    margin: 0;
    padding-bottom: 30px;
  }
  #ingredient .custom-card, .box-search-results .box-ingredient .custom-card {
    padding: 15px 0px;
  }
  .custom-card-img img {
    width: 82px;
  }
  .custom-card .card-title-content {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
  }
  .custom-card p {
    font-size: 12px;
    line-height: 16px;
  }
  /* end ingredient */

  /* friends club */
  #friendsClub .main-banner-container {
    padding: 20px 15px 30px 15px;
  }
  #friendsClub .main-banner-container img {
    box-shadow: 0px 2px 8px rgb(0 0 0 / 25%);
  }
  #friendsClub .box-friends-club-mobile {
    background: #E1F3ED;
    padding: 35px 0 45px 0;
  }
  .header-title-friends h4 {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    margin: 20px 0;
  }
  .header-title-friends .btn-reg-friends {
    font-size: 14px;
    line-height: 17px;
    padding: 10px 40px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
  #friendsClub .box-club-content {
    padding: 0;
  }
  #friendsClub .box-club-content h4 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 20px;
  }
  #friendsClub .custom-card {
    margin-bottom: 0;
  }
  #friendsClub .custom-card-img img {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  }
  #friendsClub .custom-card h4.card-title-content {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
  }
  #friendsClub .custom-card p {
    font-size: 12px;
    line-height: 16px;
    margin-top: 0;
  }
  #friendsClub .collapse-form-friend {
    margin-top: 15px;
    position: relative;
  }
  button.close_form_register {
    position: absolute;
    top: 10px;
    right: 21px;
    background: transparent;
    border: none;
    font-size: 30px;
    padding: 0;
    color: #00BBAB;
  }
  /* end friends club */

  /* contact us */
  #contactUs .header-title-wrapper {
    padding: 20px 0 0 0;
  }
  #contactUs .header-title-wrapper h4 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  #contactUs .header-title-wrapper p {
    font-size: 14px;
    line-height: 19px;
  }
  .contact-us-container {
    padding: 20px 0 30px 0;
  }
  #contactUs .main-banner .main-banner-img {
    min-height: 100%;
    height: auto;
    width: 100%;
  }
  #contactUs .box-club-content {
    padding: 0;
  }
  #contactUs .box-form {
    padding: 0;
  }
  .contactus-footer {
    padding: 25px 0 35px 0;
  }
  .contactus-footer h3.contactus-title {
    font-family: "opensans-regular";
    text-align: left;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 20px;
  }
  .contactus-footer h4 {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
  }
  .maps-wrapper {
    padding-bottom: 15px;
  }
  .contactus-footer h6 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  .contactus-footer .group-address p {
    font-size: 12px;
    line-height: 14px;
  }
  .contactus-footer ul {
    padding-left: 25px;
    display: inline-flex;
    width: 100%;
  }
  .contactus-footer ul li {
    width: 50%;
  }
  /* end contact us */

  /* what do */
  #what-do h1.title-page {
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0 15px 0;
  }
  #what-do p.desc-head-page {
    font-size: 12px;
    line-height: 16px;
  }
  .what_do_wrapper_bottom {
    width: 100%;
  }
  .card_what_do_logo {
    position: relative;
    padding: 20px;
    margin-bottom: 60px;
  }
  img.what_do_img {
    margin-right: 0;
    width: 87px;
  }
  img.what_do_img.pos_left {
    position: absolute;
    top: -40px;
    left: 20px;
  }
  img.what_do_img.pos_right {
    position: absolute;
    top: -40px;
    right: 20px;
  }
  h5.what_do_title {
    font-size: 18px;
    line-height: 22px;
  }
  .card_what_do_logo p {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  /* end what do */

  /* faq */
  #faq h1.title-page {
    font-size: 18px;
    line-height: 22px;
  }
  #faq p.desc-head-page {
    font-size: 12px;
    line-height: 16px;
  }
  .card_faq {
    padding: 14px 17px;
  }
  .card_faq h3.card_title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .faq-list .list-group-item.collapsed {
    background: #fff;
  }
  .faq-list .list-group-item {
    background: #E1F3ED;
    padding: 12px;
    font-size: 14px;
    line-height: 20px;
    color: #666766;
    margin-bottom: 10px;
  }
  .faq-list .collapse {
    margin-top: -8px;
  }
  .panels-faq .tab-pane {
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 10px;
    margin-bottom: 10px;
  }
  .panels-faq .tab-pane h4 {
    font-size: 14px;
    line-height: 20px;
  }
  .panels-faq .tab-pane p {
    font-size: 12px;
    line-height: 16px;
  }
  /* end faq */
  h1.title-page {
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0;
  }

  /* blogs */
  #blogs_post .col-6:nth-child(odd), .box-search-results .box-article .col-6:nth-child(odd) {
    padding-right: 5px;
  }
  #blogs_post .col-6:nth-child(even), .box-search-results .box-article .col-6:nth-child(even) {
    padding-left: 5px;
  }
  .box-blogs .blogs-image img {
    box-shadow: none;
    border-radius: 10px 10px 0px 0px;
  }
  .box-blogs .blogs-text h5 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;
  }
  .box-blogs .blogs-text p {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 0;
  }
  .blogs-post-on .posted-on, .blogs-post-on .date-post {
    font-size: 10px;
    line-height: 14px;
  }
  .box-blogs .blogs-post-on {
    box-shadow: none;
    padding: 10px 0px;
  }
  .box-blogs {
    padding-bottom: 0;
    margin-bottom: 30px;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 25%);
    border-radius: 10px;
  }
  .box-blogs .blogs-text {
    padding: 15px 10px 0;
  }
  /* end blogs */

  /* detail blogs */
  #detail_blog {
    padding-bottom: 35px;
  }
  .article-detail-head {
    padding-top: 20px;
  }
  #detail_blog .article-detail-head h3 {
    font-size: 18px;
    line-height: 22px;
  }
  #detail_blog .article-detail-head .date-post {
    font-size: 10px;
    line-height: 14px;
    margin-top: 15px;
  }
  #detail_blog .box-article-container p, #detail_blog .box-article-container li {
    font-size: 12px;
    line-height: 16px;
  }
  #detail_blog .link_wrapper a.link-back {
    font-size: 14px;
    line-height: 19px;
  }
  #detail_blog .link_wrapper a.link-back span {
    margin-right: 10px;
  }
  /* end detail blogs */

  /* about us */
  .box-about-image-home {
    padding: 15px 0;
  }
  #about-us {
    padding-bottom: 35px;
  }
  .about_content .media img {
    width: 138px;
  }
  .about_content .media p {
    font-size: 10px;
    line-height: 14px;
  }
  #about-us .about-image-text {
    padding: 25px 13px;
    border-radius: 0px 8px 8px 8px;
  }
  #about-us .about-img-left, #about-us .about-img-right {
    float: unset;
  }
  #about-us .about-image-text h5.title_about_text {
    font-size: 18px;
    line-height: 22px;
  }
  #about-us .about-image-text p {
    font-size: 12px;
    line-height: 14px;
  }
  /* end about us */

  /* footer */
  .footer-container {
    margin-top: 0;
  }
  /* end footer */
}

@media screen and (max-width:569px) {
  .box-main-text {
    padding: 7px 24px;
  }
}

@media screen and (max-width:481px) {
  .main-banner-text h1,
  .product-master .main-banner-text h1 {
    font-size: 20px;
    line-height: 24px;
    margin: 5px 0 7px;
  }
  .main-banner-text h6,
  .product-master .main-banner-text h6 {
    font-size: 12px;
    line-height: 14px;
  }
  .homepage .main-banner-text p,
  .product-master .main-banner-text p {
    font-size: 12px;
    margin: 0;
    line-height: 14px;
  }
}

@media screen and (max-width:345px) {
  .article-readmore .btn-light {
    font-size: 1.2vmax;
    padding: 5px 7px;
  }
}