/*
    DEMO STYLE
*/

/* a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
} */

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: -315px;
  height: 100vh;
  z-index: 999;
  background: #E1F3ED;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  padding-top: 40px;
}

#sidebar.active {
  left: 0;
  /* width: 100%; */
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #00BBAB;
  font-size: 24px;
  padding-left: 18px;
}

#dismiss:hover {
  background: #fff;
  color: #fff;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  top: 0;
}

.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #e1f3ed;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li.active-menu {
  background: #00bbab;
}

#sidebar ul li.active-menu a {
  color: #fff;
}

#sidebar ul li a {
  padding: 16px 18px;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.03em;
  display: block;
  display: flex;
  color: #00BBAB;
  text-transform: uppercase;
}

.toggle-img {
  margin: 0 0 0 10px;
}

.toggle-img img {
  margin: 0;
}

#sidebar ul li a:hover {
  color: #fff;
  background: #2A8D94;
  opacity: 0.8;
}

a[aria-expanded="false"] .toggle-img img {
  transition: .5s ease;
}

a[aria-expanded="true"] .toggle-img img {
  transition: .5s ease;
  transform: rotate(180deg);
}

#sidebar ul li.active>a #sidebar ul li.active>a,
a[aria-expanded="true"] {
  /* color: #fff; */
  /* background: #2C9BA2; */
}

/* a[data-toggle="collapse"] {
  position: relative;
} */

.sidebar-header .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  padding: 16px 18px !important;
  background: #2A8D94;
  font-family: HelveticaNeue-Regular;
  font-size: 20px !important;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}