/* global class start */

body {
  font-family: f37_gingerregular;
  background: #ffffff;
  color: #666766;
}

:focus {
  outline: none;
}

.back-color {
  background: #F9F9F9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.width-50,
.width-100 {
  float: left;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

/* .box-wrapper {
  display: flex;
  justify-content: center;
} */

.flex-between,
.flex-wrap-center {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.flex-wrap-center {
  flex-wrap: wrap;
  justify-content: center;
}

/* .wrapper {
  float: left;
  width: 100%;
  max-width: 2000px;
} */

.box-wrapper .content {
  float: left;
  width: 100%;
  position: relative;
}

.img-center {
  object-fit: cover;
  object-position: center;
}

.font-h2 {
  font-size: 42px;
  line-height: 47px;
}

.global-content-inner {
  padding: 50px 0 0;
}

.page-container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  background-color: #fff;
}

.color-tosca {
  color: #00BBAB;
}

.fp-table {
  display: table;
  width: 100%;
  height: 100%;
}
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

/* .page-container-outer, */
.box-header-logo {
  float: left;
  width: 100%;
  max-width: 1100px;
  min-width: 1100px;
  position: relative;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  color: #666766;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
  box-shadow: none;
}
.btn:focus, .btn:active, .btn:visited {
  box-shadow: none;
}


/* global class finish */


/* homepage style start */


/* jquery ui custom */

.ui-widget {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.ui-widget.ui-widget-content {
  border: 1px solid #d3d3d3;
  max-height: 250px;
}

.box-homepage {
  position: relative;
}

.header-container {
  background: rgba(249, 249, 249, 0.41);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
}

.header-container-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f9f9f9;
}

.box-header-logo {
  position: relative;
  height: 100px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
}

.box-header-logo .box-search {
  float: left;
  position: absolute;
  left: 0;
  top: 30px;
}

.box-header-logo .box-search .form-control {
  background: transparent;
  border-radius: 18px;
  padding-left: 48px;
  border-color: #e6e6e6;
}
.box-header-logo .box-search .form-control:focus,
.box-header-logo .box-search .form-control:active,
.box-header-logo .box-search .form-control:visited {
  border-color: #e6e6e6;
  box-shadow: none;
}

.box-header-logo .box-search .btn-search {
  background: #00BBAB;
  border-radius: 50%;
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 5px;
  z-index: 9;
}

.box-header-logo .box-search .btn-search img {
  margin: 0;
  padding-bottom:1px;
}

.box-header-logo .box-logo {
  float: left;
  cursor: pointer;
}

.box-header-logo .box-logo img {
  height: 68px;
}

.box-header-logo .box-language {
  float: left;
  position: absolute;
  right: 0;
  top: 35px;
}

.box-header-menu {
  /* display: flex;
  justify-content: center; */
  background: #fff;
  width: 100%;
  text-align: center;
}

.box-header-menu .btn-group-outer {}

.box-header-menu .btn-info,
.box-header-menu .dropdown-item {
  background-color: #fff;
  border-color: #fff;
  margin: 0;
  padding: 1.375rem 20px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #666766;
}

.box-header-menu .dropdown-item {
  margin: 0;
}

.box-header-menu .dropdown-menu {
  background-color: #fff;
  margin: -2px 0 0 0;
  padding: 0;
}

.box-header-menu .dropdown-item:hover,
.box-header-menu .dropdown-item:focus,
.box-header-menu .btn-info:hover,
.box-header-menu .btn-info:focus {
  color: #00BBAB;
  text-decoration: none;
}

.active-menu .btn-info {
  color: #00BBAB !important;
}

.box-header-menu .group-1:hover .dropdown-menu-1,
.box-header-menu .group-2:hover .dropdown-menu-2,
.box-header-menu .group-3:hover .dropdown-menu-3 {
  display: block;
}

.main-banner {
  position: relative;
}

.main-banner a {
  float: left;
}


/* ==============slick  start*/

.homepage-slide .slick-dots {
  bottom: 25px;
}

.homepage-slide .slick-dots li button:before {
  font-size: 12px;
  color: #FF5444;
}

.homepage-slide .slick-dots li.slick-active button:before {
  opacity: .75;
  color: #FF5444;
}


/* ==============slick  start*/

.main-banner .main-banner-img {
  /* background: rgba(44, 155, 162, 0.08); */
  height: 81vh;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-banner-img .img-desktop {
  width: 100%;
}

.main-banner-img .img-desktop,
.main-banner .main-banner-text,
.main-banner-table {
  height: auto;
  max-height: 731px;
}

.homepage .main-banner-img .img-desktop,
.homepage .main-banner .main-banner-text,
.homepage .main-banner-table {
  height: auto;
  max-height: 731px;
}

.homepage .main-banner .main-banner-text {
  position: relative;
  display: block;
}

.main-banner .main-banner-text {
  position: absolute;
  display: table;
}

.homepage .main-banner-text-inner {
  position: relative;
  display: block;
  vertical-align: middle;
}

.main-banner-text-inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.banner-home .box-main-text {
  float: left;
  width: 73%;
  position: relative;
  margin: 50px 0;
}

.main-banner-text h6 {
  font-size: 24px;
  line-height: 20px;
  color: #00BBAB;
}

.main-banner-text h1 {
  font-size: 72px;
  line-height: 86px;
  color: #666766;
  margin: 15px 0 25px;
}

.main-banner-text p {
  font-family: "opensans-regular";
  font-size: 24px;
  line-height: 38px;
  color: #666766;
  margin: 0 0 10px;
}

.main-banner-text strong,
.main-banner-text b {
  font-size: 18px;
  line-height: 22px;
}

.main-banner-text .btn-info {
  background: #00BBAB;
  border-radius: 6px;
  padding: 22px 31px;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
}
.main-banner-text .btn-info:focus,
.main-banner-text .btn-info:visited,
.main-banner-text .btn-info:active {
  background-color: #00BBAB!important;
  color: #FFFFFF!important;
}

.wrapper-desc-slider {
  background: rgba(255, 255, 255, 0.36);
  border-radius: 3px;
  padding: 21px 30px;
  margin-bottom: 40px;
}

.about-container {
  background: #FFFFFF;
  padding: 30px 0;
}

.about-container-inner {
  float: left;
  padding: 15px 0;
  margin: 0 19.7%;
}

.box-about-title h2 {
  
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  color: #666766;
  margin: 50px 0;
}

.box-about-title p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #666766;
}

.box-about-title ul,
.box-about-title ol {
  padding-inline-start: 18px;
  margin: 15px 0;
}

.box-about-title ul li,
.box-about-title ol li {
  font-size: 16px;
  line-height: 21px;
  text-align: start;
  letter-spacing: 0.01em;
  color: #666766;
}

.box-about-title li strong {
  
  font-size: 16px;
  line-height: 21px;
}

.box-about-title strong {
  
  font-size: 20px;
  line-height: 24px;
}

.box-about-image-home {
  padding: 50px 0;
  width: 100%;
}

.box-about-image {
  padding: 50px 0;
  width: 100%;
  float: left;
}

/* .about-image-inner-home {
  position: relative;
  width: 100%;
} */

.about-image-inner {
  position: relative;
  width: 100%;
  float: left;
}

.about-image-text-outer {
  position: absolute;
  width: 52%;
  max-width: 571px;
  height: 100%;
  display: table;
}
.about-image-text-outer-right {
  right: 0;
  position: absolute;
  width: 52%;
  max-width: 571px;
  height: 100%;
  display: table;
}

.about-image-text-inner {
  display: table-cell;
  vertical-align: middle;
}

.about-image-text {
  padding: 20px 0 20px 0;
}

.about-image-text h4.title_about {
  font-size: 36px;
  line-height: 43px;
  color: #666766;
  margin-bottom: 15px;
}

.about-image-text p {
  font-size: 24px;
  line-height: 40px;
  color: #666766;
}

.about-image-text ul li,
.about-image-text ol li {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.about-image-text ul,
.about-image-text ol {
  padding-inline-start: 18px;
  margin: 15px 0;
}

.about-image-text li strong {
  
  font-size: 16px;
  line-height: 20px;
}

.about-image-text strong {
  
}

.about-img-right {
  float: right;
  width: 52.64%;
}

.about-img-left {
  float: left;
  width: 52.64%;
}

.about-img img, .about-img-left img, .about-img-right img {
  height: 421px;
  /* border-radius: 30px; */
}

.box-article-wrapper {
  background: #E1F3ED;
  padding: 50px 0;
}
.load_more_button {
  text-align: center;
}

.box-article-inner {
  /* float: left; */
  padding: 50px 0;
  color: #666766;
}

.box-article-inner h2 {
  margin-bottom: 90px;
  text-align: center;
}

/* .box-article {
  float: left;
  padding: 25px 0;
  position: relative;
  border-bottom: 1px solid #F2F2F2;
} */

.article-image {
  /* float: left;
  width: 30%; */
  padding: 0 35px 0 0;
}

/* .article-image img {
  border-radius: 15px;
  height: 300px;
} */

.article-image img {
  padding-bottom: 35px;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
}
.article-text {
  text-align: center;
}

.article-text h5 {
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 10px;
}

.article-text p,
.article-text a {
  font-family: 'opensans-regular';
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.05em;
  margin: 10px 0;
}

.article-text p {
  height: 128px;
}

.article-readmore a {
  margin: 0;
}

.article-text a:hover {
  text-decoration: underline;
}

.article-readmore {
  position: inherit;
  width: 100%;
  bottom: 0;
  padding-top: 50px;
}

.article-readmore em {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.article-readmore .btn-light {
  background: #00BBAB;
  border-radius: 6px;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding: 18px 30px;
  justify-content: center;
}

.article-readmore .article-share {
  display: flex;
  float: right;
}

.article-share p {
  margin-right: 10px;
  font-family: 'opensans-regular';
  font-size: 24px;
  line-height: 40px;
  color: #00BBAB;
}

.share-icon {
  padding: 0 0 0 14px;
}

.share-icon img {
  height: 20px;
}

.box-helpful {
  display: flex;
  flex-wrap: wrap;
}

.box-helpful h2 {
  color: #2C9BA2;
  margin: 0 0 25px;
}

.box-helpful-content {
  float: left;
  width: 25%;
  position: relative;
}

.helpful-content-desc {
  position: relative;
  height: 250px;
  padding: 5px;
}

.helpful-content-desc img {
  width: 100%;
  height: 165px;
  border-radius: 10px;
  cursor: pointer;
}

.helpful-content-desc img:hover {
  transition: opacity 0.15s linear;
  opacity: 0.8;
}

.helpful-content-desc p {
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  margin: 12px 0 5px;
}

.helpful-content-desc h6 {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}


/* modal helpful */

.modal-helpful {}

.modal-helpful .modal-dialog {
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100vh;
  display: table;
  margin: 0;
  background: rgba(0, 0, 0, 0.95);
}

.modal-helpful .modal-dialog-centered {
  min-height: 100vh;
  height: calc(100% - 3.5rem);
}

.modal-helpful .box-content-view-inner {
  padding: 0 94px;
}

.modal-helpful .modal-header {
  border: 0;
  padding: 0;
}

.modal-helpful .modal-header .close {
  position: absolute;
  top: -26%;
  right: 18px;
}


/* .modal-helpful .modal-body {
        margin: 18% 0 0 0;
    }
     */

.modal-helpful .content-view-image {
  float: left;
  width: 57%;
  max-width: 900px;
}

.modal-helpful .content-view-description {
  min-width: auto;
}

.modal-helpful iframe {
  width: 100%;
  height: 542px;
}

.modal-helpful .modal-content {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.95);
  border: none;
}

.modal-helpful .modal-content .page-container-outer,
.modal-flexbox .page-container-outer {
  max-width: 1920px;
}


/* footer */

.footer-container {
  background: #f9f9f9;
  color: #666766;
  margin: 100px 0 0 0;
}

.footer-container .global-content-inner {
  padding: 40px 0;
}

.column-footer-logo {
  margin-top: 10px;
}

.column-footer-menu,
.column-footer-care {
  /* float: left;
  width: 25%; */
  font-size: 18px;
  line-height: 22px;
}

/* .column-media {
  float: left; */
  /* width: 9%; */
  /* max-width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */
.column-media .media-icon {
  margin-bottom: 15px;
}
.column-media .media-icon img {
  margin-right: 25px;
  width: 23px;
}
/* .column-media .media-icon a {
  display: flex;
} */

.column-footer-logo img {
  width: 45px;
}

.column-footer-logo p {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  line-height: 18px;
}

.footer-container h6 {
  float: left;
  width: 100%;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.03em;
  margin: 0 0 25px;
}

.column-footer-menu {}

.column-footer-menu ul {
  padding-inline-start: 0;
}

.column-footer-menu ul li {
  list-style: none;
  margin: 7px 0;
}

.column-footer-menu ul li a {
  font-size: 16px;
  line-height: 22px;
  color: #666766;
}

.column-footer-care {}

.column-footer-care p {
  width: 75%;
  font-size: 16px;
  line-height: 22px;
}
.column-footer-care p.email_cs {
  margin-bottom: 15px;
}

.column-footer-care .care-copy {
  font-size: 16px;
  line-height: 18px;
  display: none;
}


/* more articles */

.more-articles {
  /* position: relative;
  display: flex;
  justify-content: center; */
  background: transparent;
  padding: 20px 52px;
  border: 2px solid #00BBAB;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 50px auto 0 auto;
}

.more-articles p {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-style: normal;
  color: #666766;
  cursor: pointer;
}

#post_data strong {
  font-weight: 500;
}

#post_data em {
  font-style: normal;
}

#post_data .article-text strong {
  font-weight: bolder;
}

#post_data .article-text em {
  font-style: italic;
}


/* homepage style finish */


/* Products-Comfort style start */

.product-master .main-banner {
  display: flex;
  justify-content: center;
}

.product-master .main-banner-text h1 {
  
  font-size: 64px;
  line-height: 64px;
  color: #525252;
  margin: 15px 0 25px;
}

.product-master .main-banner-text p {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #4F4F4F;
  margin: 0;
  width: 70%;
}

.box-description h3 {
  
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #2C9BA2;
  margin: 11px 0;
}

.box-description p {
  float: left;
  width: 100%;
  
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #4F4F4F;
  margin: 15px 0;
}

.product-comfort .box-description,
.recipe-for .box-description {
  margin: 100px 0 0 0;
}

.product-card {
  float: left;
  width: 25%;
  padding: 10px 5px;
}

.product-card-inner {
  position: relative;
  height: 368px;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.product-card-inner:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.7;
  transition: .5s ease;
}

.product-card-img {
  height: 100%;
}

.product-card-img img {
  height: 238px;
}

.product-card-category {
  width: 88.5%;
  position: absolute;
  bottom: 15px;
}

.product-card-category h6 {
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #828282;
  margin: 0 0 5px 0;
}

.product-card-category h4 {
  float: left;
  width: 100%;
  height: 40px;
  
  font-size: 20px;
  line-height: 20px;
  color: #333333;
}

.view-details {}

.view-details a {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #2C9BA2;
}


/* Products-Comfort style finish */


/* style Products-comfort Detail start */


/* these styles are for the demo, but are not required for the plugin */

.zoom {
  display: inline-block;
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.zoom img {
  display: block;
}

.zoomImg {
  position: absolute;
  width: 650px !important;
  height: 644px !important;
}

.zoom img::selection {
  background-color: transparent;
}

.box-products-detail {
  margin: 42px 0 0;
}

.box-image-product {
  float: left;
  width: 38.3%;
}

.product-description,
.benefit-tablet {
  margin: 0 0 85px 0;
}

.box-image-view {
  position: relative;
  height: 395px;
  padding: 0 0 25px 0;
}

.box-image-view img {
  width: 100%;
  height: 375px;
  cursor: crosshair;
}

.box-image-preview {}

.box-button-buy {
  margin: 15px 0;
}

.box-button-buy .btn-info {
  padding: 17.5px 0.75rem;
  color: #fff;
  background-color: #008D94;
  border-color: #008D94;
  
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 1px;
}

.image-preview-inner {}

.img-preview {
  float: left;
  width: 95%;
  height: 92px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  margin: 0 2px;
  cursor: pointer;
}

.img-preview img {
  width: 100%;
  height: 90px;
}

.box-description-product {
  float: left;
  width: 61.7%;
  padding: 0 0 0 30px;
  box-sizing: border-box;
}

.box-products-detail h5 {
  
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #828282;
}

.box-products-detail h3 {
  
  font-size: 48px;
  line-height: 48px;
  color: #2C9BA2;
  margin: 8px 0 6px;
}

.detail-description {
  
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #4F4F4F;
  margin: 0 0 17px 0;
}

.benefit-desktop {
  display: block;
}

.benefit-tablet {
  display: none;
}

.detail-description p,
.detail-description a,
.detail-description ul li,
.detail-description ol li,
.detail-description dl li {
  
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #4F4F4F;
  margin: 15px 0;
}

.box-products-detail h4 {
  
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #4F4F4F;
  margin: 0 0 14px 0;
}

.detail-description strong {
  
}

.detail-description a {
  color: #2C9BA2;
}

.detail-description a:hover {
  text-decoration: underline;
}

.detail-description ul,
.detail-description ol,
.detail-description dl {
  padding-inline-start: 20px;
}

.box-video-product iframe {
  width: 100%;
  height: 677px;
}

.box-products-detail .prevArrowBtn,
.box-products-detail .nextArrowBtn {
  position: absolute;
  top: 25%;
  z-index: 5;
}

.box-products-detail .prevArrowBtn {
  left: -25px;
}

.box-products-detail .nextArrowBtn {
  right: -25px;
}

.box-products-detail .btn:focus,
.box-products-detail .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent;
}


/* Question style */

.box-products-detail {}

.box-products-detail .box-title {}

.list-question {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}

.box-question-title {
  background: #F5F5F5;
  border-radius: 5px;
  padding: 13.5px 18px;
  cursor: pointer;
  display: flex;
}

.box-products-detail .box-title h3 {
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin: 75px 0 19px 0;
}

.box-question-title h4,
.box-products-detail .box-description p {
  
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #ADADAD;
}

.box-question-title h4 {
  margin: 3px 0;
}

.list-question-img {
  float: left;
  display: flex;
  justify-content: center;
}

.question-image {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.question-image .image-minus {
  display: none;
}

.box-question-description {
  background: #ffffff;
  border-radius: 4px;
  margin: 0 0 10px 0;
  padding: 0 18px;
  display: none;
}

.box-products-detail .box-description p {
  color: #828282;
}


/* style Products-comfort Detail finish */


/* Recipe-for Mommy style start */

.description-content-text {
  float: left;
  width: 58%;
  padding: 0 45px 0 0;
}

.description-content-img {
  float: left;
  width: 41.55%;
}

.description-content-img img {
  width: 100%;
  height: 305px;
}

.recipe-for .box-description h3 {
  margin: -20px 0 27px;
}

.recipe-for .box-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe-for .box-products-inner {
  width: 101.8%;
  margin: 0 0 0 -0.8%;
}

.recipe-for .product-card {
  width: 33.3%;
  padding: 10px;
}

.recipe-for .product-card-category {
  width: 100%;
  bottom: 0;
}

.recipe-for .product-card-inner {
  height: 299px;
  padding: 0;
  background: #FFFFFF;
  box-shadow: none;
  border-radius: 0;
}

.recipe-for .product-card-img img {
  width: 100%;
  height: 218px;
  border-radius: 5px;
}

.recipe-for .product-card-category h4 {
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #333333;
}

.line-horizontal {
  height: 1px;
  border: 1px solid #E0E0E0;
  margin: 50px 0 20px;
}

.box-show-more {
  display: flex;
  justify-content: center;
  background: #F2F2F2;
  border-radius: 5px;
  padding: 9px 0;
  cursor: pointer;
}

.box-show-more::after {
  display: none;
}

.box-show-more:hover {
  background: #e1e1e1;
}

.show-more-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show-more-inner h5 {
  float: left;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #2C9BA2;
  margin: 5px;
}

.show-more-inner img {}


/* Recipe-for Mommy style finish */


/* Parent's Club  style start */

/* .box-club-content {
  padding: 0 0 0 16px;
}

.box-club-content.points {
  padding: 0 50px 0 0;
} */

.club-content-inner {}

.box-club-content p {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #4F4F4F;
  margin: 15px 0 16px;
}

.box-club-points {
  position: relative;
  background: #2C9BA2;
  border-radius: 5px;
  padding: 15px 40px 15px 18px;
  margin: 6px 0;
  display: flex;
}

.point-checklist {
  float: left;
  width: 22px;
  margin: 20px 17px 10px 5px;
}

.point-paragraf {
  float: left;
}

.point-checklist img {
  width: 100%;
}

.box-club-points p {
  
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.form .input-group {
  margin: 12.5px 0;
}

.form .input-group span {
  
  font-size: 18px;
  line-height: 100%;
  color: #828282;
  /* margin: 0 0 6px; */
}

.form .input-group .form-control {
  min-height: 46px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
}

.form .form-control:focus {
  box-shadow: 0 0 0 0.1rem rgb(44, 155, 162);
}

.form .custom-radio {
  margin: 6px 11px;
}

.form .custom-control-label {
  
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  cursor: pointer;
}

.form .custom-control-label::before,
.form .custom-control-label::after {
  width: 22px;
  height: 22px;
  top: 1.5px;
  left: -35px;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #2C9BA2;
  background-color: #2C9BA2;
}

.form .btn-info {
  padding: 18px 0.75rem;
  font-size: 18px;
  line-height: 18px;
  background: #2C9BA2;
  border-radius: 5px;
}

.form .box-regional {
  width: 104.4%;
  margin: 12.5px 0 12.5px -2.2%;
}

/* .form .regional {
  margin: 0 !important;
  padding: 0 10px;
} */

.regional .box-select {
  width: 100%;
}

.regional .select2-container {
  width: 100% !important;
}

.regional .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  height: 46px;
}

.regional .select2-container--default .select2-selection--single {
  height: 46px;
  padding: 8px 0;
}

.regional .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 46px;
  top: 0;
  right: 20px;
  margin: 0;
}

.regional .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-width: 8px 8px 0 8px;
}

.regional .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 8px 8px 8px;
}

.club-content-inner .box-form .btn-info {
  width: 100%;
  background: #00BBAB;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
}

/* Parent's Club  style finish */


/* contact-us style start */

.points h6 {
  
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #4F4F4F;
  margin: 15px 0 0;
}

.contact-us .group-address {
  margin: 16px 0;
}

.contact-us .points h6 {
  margin: 0 0 5px;
}

.contact-us .box-club-content p {
  font-size: 18px;
  line-height: 20px;
  width: 100%;
  margin: 0;
}

.hidden {
  display: none;
}


/* contact-us style finish */

.modal-product-card {}

.modal-product-card .modal-dialog {
  max-width: 100%;
  height: 100%;
  margin: 0;
}

.modal-product-card .modal {
  padding: 0 !important;
}

.modal-product-card .modal-content {
  height: 100%;
  border: 0 solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(43, 43, 43, 0.9);
}

.modal-product-card .modal-header {
  border-bottom: 0 solid #dee2e6;
}

.modal-product-card .modal-body {
  padding: 15px;
  /* padding: 15px 0; */
}

.box-content-view {
  position: relative;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  /* padding: 0; */
  padding: 0 85px;
}

.box-content-view-inner {
  display: flex;
  justify-content: space-between;
}

.content-view-image {
  float: left;
  width: 57%;
  max-width: 900px;
}

.content-view-image .landscape {}

.content-view-image .potrait {}

.content-view-image img {
  width: 100%;
  height: 542px;
}

.modal-product-card .embed-responsive-item,
.content-view-description {
  max-height: 535px;
}

.modal-product-card .embed-responsive-item {
  width: 100%;
  min-width: 600px;
}

.content-view-description {
  float: left;
  width: 40%;
  color: #FFFFFF;
  overflow: auto;
  padding: 0 10px 0 0;
}

.content-view-description p,
.content-view-description li {
  float: left;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin: 15px 0;
}

.content-view-description strong,
.content-view-description b {
  
}

.content-view-description ul,
.content-view-description ol {
  float: left;
  width: 100%;
  padding-inline-start: 22px;
}

.moms-testimonial .content-view-description p,
.moms-testimonial .content-view-description li {
  margin: 7px 0;
}

.modal-product-card {
  position: fixed;
  z-index: 2;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  background: rgba(8, 8, 8, 0.9);
}

.products-data .product-card-img {
  cursor: pointer;
}

.products-data .product-card-img:hover {
  opacity: 0.7;
  transition: .5s ease;
}

.modal-body-container {
  width: 100%;
  height: 100%;
  display: unset;
}

.box-content-view {
  position: relative;
  box-sizing: border-box;
  display: unset;
  vertical-align: unset;
  padding: 0;
}

.box-content-view-inner {
  background: #000;
}

.content-view-description {
  width: 42.646%;
  color: #FFFFFF;
  overflow: auto;
  padding: 0 10px 0 0;
}

.modal-body .prevArrowBtn,
.modal-body .nextArrowBtn {
  position: absolute;
  top: 50%;
  z-index: 5;
}

.modal-body .btn:focus {
  box-shadow: none;
}

.modal-body .prevArrowBtn {
  left: 25px;
}

.modal-body .nextArrowBtn {
  right: 25px;
}

.modal-body .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent;
}

.modal-body.box-btn-close {
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 30px;
}

.slick-disabled {
  opacity: 0;
  pointer-events: none;
}


/* ==================================== */


/* article style start */

.article-detail {}

.article-detail .box-article-container {
  margin: 25px 0 0;
  position: relative;
}

.article-detail .box-article-container .link-back {
  float: left;
  width: 100%;
  
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #2C9BA2;
}

.article-detail .box-article-container h3 {
  
  font-size: 36px;
  line-height: 127%;
  color: #333333;
  margin: 15px 0 10px 0;
}

.article-detail .box-article-container ul li,
.article-detail .box-article-container ol li,
.article-detail .box-article-container p,
.article-detail .box-article-container a {
  
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #212529;
}

.article-detail .box-article-container p,
.article-detail .box-article-container a {
  margin: 15px 0;
}

.article-detail .box-article-container p {
  float: left;
}

.article-detail .box-article-container ul,
.article-detail .box-article-container ol {
  float: left;
  width: 100%;
  padding-inline-start: 1.7%;
}

.article-detail .box-article-container ul li,
.article-detail .box-article-container ol li {
  float: left;
  width: 100%;
  margin: 5px 0;
}

.article-detail .box-article-container strong,
.article-detail .box-article-container b {
  
}

.article-detail .box-article-container a {
  color: #2C9BA2;
}

.article-detail .box-article-container a:hover {
  text-decoration: underline;
}


/* article style finish */


/* ingredient */
#ingredient .header-text {
  padding: 45px 0;
}
#ingredient .header-text h1 {
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 46px;
}
#ingredient .header-text p {
  font-family: "opensans-regular";
  font-size: 24px;
  line-height: 40px;
}
.box-ingredient {
  margin: 45px 0 0;
}
#ingredient .custom-card {
  padding: 42px 55px 20px 55px;
}
/* end ingredient */

/* Custom Card */
.custom-card {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  padding: 15px;
}
.custom-card-img img {
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
.custom-card .card-title-content {
  font-family: "opensans-regular";
  color: #00BBAB;
  font-size: 24px;
  line-height: 40px;
  margin: 20px 0;
}
.custom-card p {
  font-family: "opensans-regular";
  font-size: 18px;
  line-height: 25px;
}
/* End Custom Card */

/* sidebar style start */

.sidebar-header {}

.sidebar-header .box-header-logo {
  float: left;
  width: 100%;
  height: 40px;
  max-width: unset;
  min-width: unset;
  padding: 0;
}

.sidebar-header .box-language {
  left: 0;
  right: unset;
  top: 6px;
}

.sidebar-header .box-search {
  left: unset;
  right: 0;
  top: 0px;
}

.sidebar-header .box-search .form-control {
  
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  height: 40px;
}

.sidebar-header .box-search .btn-info {
  background: #2A8D94;
  border-radius: 0px 20px 20px 0px;
  padding: 0.438rem 0.688rem;
}

.box-sidebar-toggle {
  display: none;
}

.box-sidebar-toggle .btn {
  padding: 4px;
}

.box-sidebar-toggle .btn:hover {
  background: #f1efef;
  opacity: 0.8;
}

.box-sidebar-toggle .btn:focus,
.box-sidebar-toggle .btn.focus {
  box-shadow: none;
}

.dropdown-toggle::after {
  border: none;
}


/* sidebar style finish */


/* search results style start */

.box-search-results {
  margin: 32px 0 0;
  min-height: 42.9vh;
}

.box-search-results .box-products {
  margin: 32px 0;
  min-height: 444px;
}

.box-result-title {
  margin: 0 0 34px 0;
}

.box-result-title h2 {
  font-size: 48px;
  line-height: 58px;
  color: #666766;
}

.box-result-title h6 {
  background: #E1F3ED;
  border-radius: 6px;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  padding: 14px 68px;
  color: #00BBAB;
}

.box-search-results .box-article {
  padding: 32px 0 0;
  border-bottom: none;
}

.box-search-results .box-article-inner {
  padding: 10px 0;
}

.box-search-results .article-text {
  width: 70%;
}

.box-search-results .article-text h5,
.box-search-results .article-text p {
  color: #333333;
}

.box-search-results .btn-light {
  background-color: #2c9ba2;
  border-color: #2c9ba2;
}

.box-search-results .article-readmore .btn-light {
  color: #fff;
}

.btn-light:not(:disabled):not(.disabled):active {
  color: #2c9ba2;
}

.box-search-results .article-share p {
  color: #828282;
}


/* search results style finish */


/* banner-master */

.banner-master .main-banner-text {
  position: absolute;
  display: unset;
}

.main-banner-back {
  position: absolute;
  width: 63.9%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 75%, rgba(255, 255, 255, 0) 100%);
}

.main-banner-table {
  width: 100%;
  display: table;
}

.box-main-text {
  float: left;
  width: 65%;
  padding: 0;
  background: none;
}


/* banner-master */

.product-master .modal-helpful .modal-header .close {
  top: -14%;
  right: 18px;
}

.recipe-for .modal-helpful .modal-header .close {
  top: -26%;
  right: 18px;
}


/* flexbox slide start */

* {
  box-sizing: border-box;
}

.row>.column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}


/* The Modal (background) */

.modal.modal-flexbox {
  background-color: black;
}


/* Modal Content */

.modal-flexbox .modal-content {
  background-color: #000;
  margin: auto;
  padding: 0;
  width: 90%;
  height: 100%;
  min-height: 100vh;
  display: table;
}

.content-view-outer {
  display: table-cell;
  vertical-align: middle;
}


/* The Close Button */

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 5;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: block;
}

.cursor {
  cursor: pointer;
}


/* Next & previous buttons */

.modal-flexbox .prev,
.modal-flexbox .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.modal-flexbox .prev {
  padding: 16px 0 16px 16px;
}

.modal-flexbox .next {
  padding: 16px 16px 16px 0;
}

.modal-flexbox .prev img,
.modal-flexbox .next img {}

.modal-flexbox .prev {
  left: -64px;
}

.modal-flexbox .next {
  right: -64px;
}


/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.content-view-image iframe {
  width: 100%;
  height: 542px;
}


/* flextbox slide finish */

/* Friends Club */
#friendsClub {
  background-color: #fff;
}
.header-title-friends h4 {
  font-family: "opensans-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 40px;
}
.header-title-friends .btn-reg-friends {
  background: #00BBAB;
  border-radius: 6px;
  padding: 22px 58px;
  color: #fff;
  border: none;
}
.header-title-friends .btn-reg-friends:focus,
.header-title-friends .btn-reg-friends:active,
.header-title-friends .btn-reg-friends:visited {
  border: none;
  outline: none;
}
#friendsClub .main-banner-container {
  padding: 45px 0 70px 0;
}
#friendsClub .collapse-form-friend {
  background: #E1F3ED;
  padding: 70px 0 130px 0;
}
#friendsClub .box-club-content h4 {
  font-family: "opensans-bold";
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 40px;
  color: #00BBAB;
  text-align: center;
}
#friendsClub .collapse-form-friend label {
  font-family: "opensans-semibold";
  font-size: 18px;
  line-height: 20px;
  color: #00BBAB;
  margin: 20px 0 15px 0;
}
#friendsClub .input-group {
  margin: 0;
}
#friendsClub .form .input-group .form-control {
  border: 1px solid #00BBAB;
  color: #666766;
  font-family: "opensans-regular";
  font-size: 18px;
  line-height: 20px;
  padding: 25px;
}
#friendsClub .select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #fff;
}
#friendsClub .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #666766;
}
#friendsClub  .select2-container--default .select2-selection--single {
  border: 1px solid #00BBAB;
}
#friendsClub .custom-card-img img {
  width: 104px;
}
#friendsClub .custom-card h4.card-title-content {
  font-size: 18px;
  line-height: 20px;
  margin: 10px 0 15px 0;
}
#friendsClub .custom-card p {
  font-size: 18px;
  line-height: 25px;
}
.g-recaptcha {
  padding: 30px 0 25px 0;
}
#friendsClub .footer-container {
  margin-top: 0;
}
/* End Friends Club */

/* COntact us */
.contact-us-container {
  padding: 45px 0 70px 0;
}
/* End Contact us */

/* Custom Form */
#contactUs .header-title-wrapper {
  padding-bottom: 40px;
}
#contactUs .header-title-wrapper h4 {
  font-family: 'opensans-semibold';
  font-size: 34px;
  line-height: 46px;
  color: #00BBAB;
  margin-bottom: 20px;
}
#contactUs .header-title-wrapper p {
  font-family: 'opensans-regular';
  font-size: 24px;
  line-height: 33px;
}
form.custom-form label {
  font-family: "opensans-semibold";
  font-size: 18px;
  line-height: 20px;
  color: #00BBAB;
  margin: 20px 0 15px 0;
}
form.custom-form label:first-child {
  margin-top: 0;
}
form.custom-form .input-group {
  margin: 0;
}
form.custom-form input::placeholder,
form.custom-form textarea::placeholder {
  opacity: 0.5;
}
form.custom-form .input-group .form-control {
  border: 1px solid #00BBAB;
  color: #666766;
  font-family: "opensans-regular";
  font-size: 18px;
  line-height: 20px;
  padding: 25px;
}
.contactus-footer {
  background: #E1F3ED;
  padding: 68px 0;
}
.contactus-footer h3.contactus-title {
  padding-bottom: 40px;
  font-size: 34px;
  line-height: 20px;
}
.contactus-footer h4 {
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 30px;
}
.contactus-footer h6 {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 15px;
}
.contactus-footer ul {
  padding-left: 20px;
}
.contactus-footer ul li {
  padding-bottom: 15px;
}
.contactus-footer ul li::marker {
  color: #00BBAB;
  font-size: 25px;
  line-height: 0;
}
.img-service-wrapper {
  padding-bottom: 15px;
}
.img-service-wrapper img {
  width: 100%;
}
.box-contact-content {
  /* width: 300px;
  margin: 0 auto; */
  height: 100%;
}
#contactUs .footer-container {
  margin-top: 0;
}
/* End Custom Form */

/* Blogs */
.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}
h1.title-page {
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  margin: 80px 0;
}
.box-blogs {
  padding-bottom: 50px;
}
.box-blogs .blogs-image img {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.box-blogs .blogs-text {
  padding: 30px 0;
}
.box-blogs .blogs-text h5 {
  font-size: 24px;
  line-height: 29px;
  color: #00BBAB;
  margin-bottom: 20px;
}
.box-blogs .blogs-text p {
  font-family: 'opensans-regular';
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: center;
}
.blogs-text p {
  height: 130px;
}
.blogs-post-on {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px 17px;
}
.blogs-post-on .posted-on,
.blogs-post-on .date-post {
  font-family: 'opensans-regular';
  font-size: 14px;
  line-height: 19px;
  color: #00BBAB;
}
.pagination_blogs .page-item .page-link {
  font-family: 'opensans-regular';
  background-color: transparent;
  border: none;
  font-size: 18px;
  line-height: 25px;
  color: #00BBAB;
  padding: 8px 15px;
}
.pagination_blogs .page-item.active .page-link {
  background-color: #00BBAB;
  color: #fff;
}
/* end Blogs */

/* About us */
.about_content .media {
  padding-bottom: 40px;
}
.about_content .media img {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.about_content .media p {
  font-family: 'opensans-regular';
  font-size: 24px;
  line-height: 40px;
}
#about-us .about-image-text {
  background: #00BBAB;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 32px 52px 62px 52px;
}
#about-us .about-image-text h5.title_about_text {
  font-family: 'opensans-semibold';
  font-size: 34px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 20px;
}
#about-us .about-image-text p {
  font-family: 'opensans-regular';
  font-size: 24px;
  line-height: 40px;
  color: #fff;
}
/* end About us */

/* what do */
#what-do h1.title-page {
  margin-bottom: 35px;
}
#what-do .desc-head-page p {
  font-family: 'opensans-regular';
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}
.what_do_wrapper_top {
  padding-bottom: 40px;
}
.what_do_wrapper_bottom {
  padding: 40px 0;
  width: 90%;
  margin: 0 auto;
}
.card_what_do_logo {
  background: #00BBAB;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 37px 60px;
  height: 100%;
  margin-bottom: 35px;
}
img.what_do_img {
  width: 257px;
  margin-right: 7rem;
}
h5.what_do_title {
  font-size: 34px;
  line-height: 41px;
  color: #fff;
  margin-bottom: 10px;
}
.card_what_do_logo p {
  font-size: 18px;
  line-height: 40px;
  font-family: 'opensans-regular';
  color: #fff;
}
.card_what_do_logo .fp-tableCell {
  height: 250px;
}
/* end what do */

/* faq */
#faq h1.title-page {
  margin-bottom: 35px;
}
#faq p.desc-head-page {
  font-family: 'opensans-regular';
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 54px;
}
.card_faq {
  box-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
  border-radius: 4px;
  padding: 25px 30px;
  margin-bottom: 35px;
}
.card_faq h3.card_title {
  font-family: 'opensans-regular';
  font-size: 34px;
  line-height: 40px;
  color: #00BBAB;
}
.list-group.help-group {
  padding-top: 23px;
}
.faq-list.nav-tabs {
  border-bottom: none;
}
.faq-list .list-group-item {
  padding: 25px;
  border: 1px solid #00BBAB;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 15px;
  font-family: 'opensans-regular';
  font-size: 24px;
  line-height: 20px;
}
.faq-list .list-group-item.active {
  background: #00BBAB;
}
.panels-faq .tab-pane {
  background: #00BBAB;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 33px 44px;
  color: #fff;
  font-family: 'opensans-regular';
  max-height: 550px;
}
.panels-faq .tab-pane h4 {
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 15px;
}
.panels-faq .tab-pane p {
  font-size: 18px;
  line-height: 40px;
  max-height: 440px;
  overflow: auto;
}
/* end faq */

/* detail blog */
.article-detail-head {
  background: #E1F3ED;
  padding: 80px 0 35px 0;
}
#detail_blog .article-detail-head h3 {
  font-size: 34px;
  line-height: 41px;
  margin-bottom: 30px;
}
#detail_blog .article-detail-head .date-post {
  font-family: 'opensans-regular';
  font-size: 18px;
  line-height: 25px;
  color: #00BBAB;
  margin-top: 30px;
}
#detail_blog .box-article-container {
  padding: 30px 0;
}
#detail_blog .box-article-container p, #detail_blog .box-article-container li {
  font-family: 'opensans-regular';
  font-size: 24px;
  line-height: 40px;
}
#detail_blog .link_wrapper {
  padding-top: 30px;
}
#detail_blog .link_wrapper a.link-back {
  font-family: 'opensans-regular';
  font-size: 24px;
  line-height: 40px;
  color: #00BBAB;
}
#detail_blog .link_wrapper a.link-back span {
  margin-right: 30px;
}
#detail_blog .main-header-img img {
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.article-share {
  display: inline-flex;
  float: right;
}
/* end detail blog */

ul.pagination li.page-item .page-link {
  padding: 16px 18px;
}