@media screen and (min-width:1025px) and (max-width:1440px) {
  /* .page-container-outer, */
  .box-header-logo {
    width: 90%;
    min-width: 900px;
  }
  /* modal video start */
  .modal-helpful .content-view-image {
    width: 55%;
  }
  .modal-helpful .content-view-description {
    width: 40%;
  }
  .content-view-image {
    min-width: 500px;
    width: 55%;
  }
  .content-view-image iframe,
  .content-view-image img {
    width: 100%;
    height: 400px;
  }
  .modal-flexbox .prev {
    left: -45px;
  }
  .modal-flexbox .next {
    right: -45px;
  }
  /* modal video finish */
  /* style product detail start */
  .box-video-product iframe {
    height: 550px;
  }
  /* style product detail finish */
  .modal-helpful .box-content-view-inner {
    padding: 0;
  }
  .modal-product-card .embed-responsive-item,
  .content-view-description {
    max-height: 415px;
    width: 40%;
  }
  .modal-flexbox .modal-content {
    width: 100%;
  }
  .helpful-content-desc p {
    font-size: 1.2vmax;
    line-height: normal;
  }
  .helpful-content-desc h6 {
    font-size: 1.18vmax;
    line-height: 19px;
  }
}

@media screen and (min-width:768px) and (max-width:1024px) {
  /* global class start */
  .font-h2 {
    font-size: 32px;
    line-height: 36px;
  }
  .page-container-outer,
  .box-header-logo,
  .modal-helpful .modal-content .page-container-outer,
  .modal-flexbox .page-container-outer {
    max-width: 768px;
    min-width: 768px;
  }
  /* global class end */
  .box-header-logo {
    justify-content: space-between;
    height: 74px;
    padding: 12px 24px;
  }
  .box-sidebar-toggle {
    display: block;
    margin: 8px -4px 8px 0;
  }
  .box-header-logo .box-logo img {
    height: 46px;
  }
  .box-header-logo .box-search,
  .box-header-logo .box-language,
  .box-header-menu {
    display: none;
  }
  /* style sidebar start */
  .sidebar-header .box-language,
  .sidebar-header .box-search {
    display: block;
  }
  /* style sidebar finish */
  /* homepage style start */
  .banner-back {
    width: 90%;
  }
  .main-banner-back {
    width: 70%;
  }
  .box-main-text {
    width: 100%;
    padding: 24px;
  }
  .banner-home .box-main-text {
    width: 100%;
    margin: 6px 0;
  }
  .main-banner-text h6 {
    font-size: 14px;
    line-height: 14px;
  }
  .main-banner-text h1 {
    font-size: 36px;
    line-height: 36px;
    margin: 15px 0 25px;
  }
  .main-banner-text p {
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 50px;
  }
  .homepage .main-banner-text p {
    margin: 0 0 15px;
  }
  .main-banner-text .box-btn-shadow {
    padding: 5px;
  }
  .homepage .main-banner-text .box-btn-shadow {
    margin: 15px 0 0;
  }
  .main-banner-text .btn-info {
    padding: 11px 18px;
    font-size: 14px;
    line-height: 14px;
  }
  .about-container {
    padding: 30px 24px;
  }
  .about-image-inner {
    display: table;
    height: 100%;
  }
  .about-image-text-outer {
    position: unset;
    width: 58%;
    display: table-cell;
    vertical-align: middle;
  }
  .about-image-text-outer-home {
    position: unset;
    width: 58%;
    display: table-cell;
    vertical-align: middle;
  }
  .about-img {
    float: none;
    width: 57.64%;
    display: table-cell;
    vertical-align: middle;
  }
  .about-img-home {
    float: none;
    width: 57.64%;
    display: table-cell;
    vertical-align: middle;
  }
  .box-about-title h2 {
    font-size: 32px;
    line-height: 32px;
    margin: 50px 0;
  }
  .box-about-title p,
  .about-image-text p {
    font-size: 18px;
    line-height: 22px;
  }
  .about-img-home img {
    width: 100%;
    height: 215px;
    border-radius: 0 20px 20px 0;
  }
  .about-img img {
    width: 100%;
    height: 215px;
    border-radius: 0 20px 20px 0;
  }
  .about-image-text {
    border-radius: 0px 20px 20px 20px;
    padding: 24px 16px;
  }
  .box-article-inner h2 {
    text-align: center;
  }
  .box-article {
    padding: 25px 18px 0 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 0;
  }
  .article-image {
    padding: 0;
    margin: 0 0 14px;
  }
  .article-image,
  .article-text {
    width: 51.23%;
  }
  .article-image img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
  }
  .article-image img,
  .article-text {
    min-height: auto;
  }
  .box-helpful-content {
    width: 50%;
    padding: 0 12px;
  }
  .article-text {
    height: auto;
    padding: 0 0 18px 0;
    border-bottom: 1px solid #F2F2F2;
  }
  .article-text h5 {
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 24px;
  }
  .article-text p {
    display: none;
  }
  .article-readmore {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .article-readmore .btn-light {
    padding: 10px;
    font-size: 16px;
    line-height: 18px;
  }
  .article-share p {
    font-size: 12px;
    line-height: 15px;
    display: block;
  }
  .box-helpful h2 {
    width: 70%;
    text-align: center;
  }
  .box-helpful {
    justify-content: center;
    padding: 0 12px;
  }
  .helpful-content-desc {
    height: auto;
    padding: 10px 0;
  }
  .helpful-content-desc img {
    height: 231px;
    border-radius: 0;
    margin: 7px 0;
  }
  .helpful-content-desc p {
    font-size: 20px;
    line-height: 24px;
    margin: 7px 0;
    padding: 0 24px;
  }
  .helpful-content-desc h6 {
    position: unset;
    font-size: 16px;
    line-height: 19px;
    margin: 7px 0;
    padding: 0 24px;
  }
  .footer-container .global-content-inner {
    position: relative;
    padding: 40px 24px 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .column-footer-logo {
    width: 100%;
    height: auto;
    margin: 4px 0 33px;
  }
  .column-footer-logo p {
    display: none;
  }
  .column-footer-care {
    width: 50%;
    margin: 7px 0;
  }
  .column-footer-menu {
    width: 25%;
    margin: 7px 0;
  }
  .column-media {
    width: 37%;
    position: absolute;
    right: 24px;
    top: 131px;
  }
  .column-footer-care .care-copy {
    display: block;
    width: 100%;
    margin: 125px 0 0;
  }
  .column-footer-menu ul {
    float: left;
    width: 60%;
    padding-inline-start: 0;
  }
  .footer-container h6 {
    margin: 0 0 26px;
  }
  /* homepage style start */
  /* comfort product start */
  .product-master .box-main-text {
    padding: 24px;
  }
  .product-master .main-banner-text h1 {
    font-size: 36px;
    line-height: 36px;
  }
  .product-master .main-banner-text p {
    font-size: 14px;
    line-height: 17px;
  }
  .product-comfort .box-products {
    margin: 45px 0 -5px 0;
    padding: 0 53px;
  }
  .recipe-for .box-products {
    padding: 0;
    margin: 12px 0 0;
  }
  .moms-testimonial .box-products {
    padding: 0 24px;
    margin: 12px 0 0;
  }
  .moms-testimonial .product-card-inner,
  .moms-testimonial .product-card-img img {
    height: 240px;
  }
  .moms-testimonial .box-products-inner {
    width: 100.4%;
    margin: 0 0 0 -0.2%;
  }
  .box-products-inner {
    width: 101.6%;
    margin: 0 0 0 -0.8%;
  }
  .product-card {
    width: 25%;
    padding: 5px;
  }
  .product-card-inner {
    height: 264px;
    padding: 12px;
    border-radius: 10px;
  }
  .product-card-img img {
    height: 134px;
  }
  .product-card-category h6 {
    font-size: 12px;
    line-height: 12px;
  }
  .product-card-category h4 {
    height: 38px;
    font-size: 18px;
    line-height: 18px;
  }
  /* detail product */
  .box-description-product {
    width: 57.42%;
    padding: 0 24px;
  }
  .box-products-detail .box-image-view {
    padding: 0 0 15px 0;
    height: 279px;
  }
  .box-image-product {
    width: 42.58%;
    padding: 0 24px;
  }
  .img-preview {
    height: 77px;
  }
  .img-preview img {
    height: 75px;
  }
  .box-products-detail h5 {
    font-size: 14px;
    line-height: 14px;
  }
  .box-products-detail h3 {
    font-size: 32px;
    line-height: 32px;
  }
  .detail-description p,
  .detail-description ul li,
  .detail-description ol li,
  .detail-description dl li {
    font-size: 14px;
    line-height: 21px;
    margin: 10px 0;
  }
  .box-products-detail h4,
  .box-video-product {
    padding: 0 24px;
  }
  .box-video-product iframe {
    height: 407px;
  }
  .box-products-detail .box-title,
  .box-question {
    padding: 0 24px;
  }
  .box-question .list-question-title h4 {
    padding: 0;
  }
  .box-question-title h4,
  .box-products-detail .box-description p {
    font-size: 14px;
    line-height: 17px;
  }
  .box-products-detail .box-description p {
    margin: 7px 0;
  }
  .benefit-desktop {
    display: none;
  }
  .benefit-tablet {
    display: block;
  }
  .product-description,
  .benefit-tablet {
    margin: 0 0 25px 0;
  }
  .box-image-view img {
    height: 268px;
  }
  /* comfort product finish */
  /* Recipe for mommy start */
  .recipe-for .product-card {
    width: 50%;
    padding: 12px;
  }
  .recipe-for .box-products-inner {
    width: 100%;
    margin: 0%;
    padding: 0 12px;
  }
  .product-card-category {
    width: 100%;
    padding: 0 11px;
  }
  .modal-product-card .embed-responsive-item {
    min-width: 768px;
  }
  .content-view-description p {
    font-size: 14px;
    line-height: 20px;
  }
  .recipe-for .product-card-img img {
    height: auto;
    border-radius: 0;
  }
  /* Recipe for mommy start */
  /* mom's testimonial start */
  .moms-testimonial .product-card {
    width: 33.333%;
    padding: 2.5px;
  }
  .moms-testimonial .modal-body .prevArrowBtn,
  .moms-testimonial .modal-body .nextArrowBtn {
    top: 30%;
    padding: 0;
  }
  .moms-testimonial .modal-body .nextArrowBtn {
    right: 18px;
    left: unset;
  }
  .moms-testimonial .modal-body .prevArrowBtn {
    left: 10px;
  }
  /* popup slider */
  .slide-image-view {
    width: 100%;
  }
  .flexslider.flex-view img {
    height: 310px;
  }
  .modal-flexbox.modal-testimoni .modal-content {
    width: 100%;
  }
  .slide-image-view .modal-body {
    padding: 0;
  }
  .flexslider.flex-prev .slides img {
    height: 100px;
  }
  .modal-testimoni .flexslider {
    margin: 0 0 24px;
  }
  /* mom's testimonial finish */
  /* style parent's club start */
  .parents-club-container {
    margin: 0;
    padding: 0 11px;
  }
  .box-form {
    padding: 14px;
    margin: 24px 0 0;
  }
  .box-club-content.points,
  .box-club-content {
    width: 50%;
    padding: 0 13px;
  }
  .point-checklist {
    margin: 15px 17px 10px 5px;
  }
  .box-club-content p {
    font-size: 14px;
    line-height: 14px;
    margin: 14px 0 9px;
  }
  .box-club-points {
    padding: 11px;
  }
  .box-club-points p {
    font-size: 14px;
    line-height: 16px;
  }
  .box-form h3 {
    font-size: 24px;
    line-height: 24px;
  }
  .form .box-regional {
    width: 100%;
    margin: 7px 0;
  }
  .form .regional {
    padding: 0;
    width: 100%;
  }
  .form .input-group .span-label {
    width: 75%;
  }
  .form .input-group .pos-code {
    margin: 0px 0 0 0;
  }
  .form .input-group span,
  .form .input-group .form-control {
    font-size: 16px;
  }
  /* style parent's club start */
  /* contact us style start */
  .points h6 {
    font-size: 16px;
    line-height: 19px;
  }
  .contact-us .box-club-content p {
    font-size: 16px;
    line-height: 19px;
  }
  .contact-us .group-address {
    margin: 9px 0;
  }
  /* contact us style start */
  /* article style start */
  .article-detail .box-article-container {
    padding: 0 24px;
  }
  .article-detail .box-article-container a {
    font-size: 14px;
    line-height: 17px;
  }
  .article-detail .box-article-container h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .article-detail .box-article-container p {
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0;
  }
  /* article style start */
  /* search result start */
  .box-result-title {
    width: 100%;
    margin: 0px 0 18.5px 0;
  }
  .box-search-results {
    margin: 0;
    min-height: 42.9vh;
    padding: 0 24px;
  }
  .box-result-title h2 {
    font-size: 32px;
    line-height: 32px;
  }
  .box-result-title h6 {
    font-size: 14px;
    line-height: 17px;
    margin: 6px 0;
  }
  .box-search-results .box-article {
    padding: 25px 0;
    width: 103.2%;
    margin: 0 0 0 -1.6%;
    justify-content: flex-start;
  }
  .box-search-results .box-article-inner {
    display: unset;
    width: 50%;
    padding: 12px;
  }
  .box-search-results .article-image,
  .box-search-results .article-text {
    width: 100%;
  }
  .box-search-results .box-result-title {
    padding: 0 12px;
  }
  .box-search-results .article-text h5 {
    min-height: 60px;
    margin: 0;
  }
  /* search result start */
  /* modal popup start */
  .modal-helpful .modal-content {
    position: fixed;
  }
  .modal-helpful .modal-body {
    float: left;
    width: 100%;
    padding: 0;
  }
  .modal-helpful .box-content-view-inner {
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .modal-helpful .content-view-image {
    width: 100%;
    max-width: 768px;
  }
  .modal-helpful .content-view-image iframe,
  .content-view-image iframe {
    width: 768px;
    height: 434px;
  }
  .modal-helpful .content-view-description,
  .content-view-description {
    width: 100%;
    padding: 14px 21px;
    min-width: auto;
    max-height: 405px;
  }
  .modal-helpful .modal-header .close {
    top: 0;
    position: relative;
    float: left;
    padding: 10px;
    margin: 0;
  }
  .modal-helpful .modal-header .close img {
    margin: -4px 0 0 0;
  }
  .modal-helpful .modal-header {
    float: left;
    width: 100%;
    height: auto;
    padding: 0 5px;
    display: flex;
    justify-content: flex-end;
  }
  .modal-helpful .modal-dialog-centered {
    min-height: 100vh;
    height: calc(100%);
  }
  /* modal popup start */
  /* modal recipe start */
  .box-content-view-inner {
    flex-wrap: wrap;
    padding: 70px 0 0 0;
    justify-content: center;
  }
  .content-view-image {
    width: 100%;
    max-width: 768px;
    min-width: 768px;
  }
  .modal-flexbox .modal-content {
    float: left;
    width: 100%;
    height: 100vh;
    display: unset;
    min-height: 500px;
  }
  .content-view-outer {
    display: unset;
    vertical-align: unset;
  }
  .modal-flexbox .prev,
  .modal-flexbox .next {
    float: left;
    width: auto;
    top: 2%;
    padding: 0;
    margin-top: 0;
  }
  .modal-flexbox .prev img,
  .modal-flexbox .next img {
    width: 30px;
  }
  .modal-flexbox .prev {
    left: 20px;
    ;
  }
  .modal-flexbox .next {
    right: unset;
    left: 45px;
  }
  .flexslider.flex-view .flex-direction-nav .flex-prev {}
  .flexslider.flex-view .flex-direction-nav .flex-next {
    right: unset;
    left: 45px;
  }
  .flexslider.flex-view .flex-direction-nav a {
    float: left;
    top: -14.6%;
  }
  .flexslider.flex-view .flex-direction-nav a.flex-next:before,
  .flexslider.flex-view .flex-direction-nav a:before {
    transform: scale(0.6);
  }
  /* modal recipe finish */
}